body{
	background-color: #286090;
	margin: 0 auto;
	margin-top: 51px;
}
hr {
	background-color: white;
	color: blue;
	height: 3px;
	border: 1.5px solid;
	border-radius: 15px;
}
#header  {
	background-color: #f1e7d5;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;  
}
#logobt {
	height: 25px;
	width: 25px;
	margin-right: 5px;
}
#pb {
	background-color: red;
}