/*IMPORTS
---FUENTES:*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Muli);

/*COMUN  */
html{
	border: 1px dotted green;
}
body{
	background-color: #286090;
	margin: 0 auto;
	margin-top: 51px;	
}
hr {
	background-color: white;
	color: blue;
	height: 3px;
	border: 1.5px solid;
	border-radius: 15px;
}
section{
	padding: 50px 25px;
	min-height: 100vh;
}
section:nth-child(odd){
	background-color: #f4f3ff;
	color: black;

}
section:nth-child(even){
	background-color: #286090;
	color: white;
}


/*SECCION PRESENTACION*/
#presentacion{

}
.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 3em;
}
.subtitle{
	font-family: 'Courier New', sans-serif;
	font-weight: 400;
	font-size: 2em;
}
#img-perfil{
	display: block;
	height: 200px;
	width: 200px;
	border: 2px solid white;
}

/*SECCION XXXXXXXXXX*/

/*SECCION XXXXXXXXXX*/

/*SECCION XXXXXXXXXX*/

#header  {
	background-color: #f1e7d5;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;  
}
#logobt {
	height: 25px;
	width: 25px;
	margin-right: 5px;
}
#pb {
	background-color: red;
}
footer{
	background-color: #e4e1dc;

}