html{
    font-family: Exo, serif;
}
body{
    overflow-x: hidden;
    max-width: 100vw;
    background: #efefef;
    font-family: Exo, serif;
}

/* CABECERA */
.bg-img{
    background-image: url("../img/p3.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.mask{
    background-color: rgba(0, 0, 0, 0.35);
    height: inherit;
}
.principal h1{
    font-size: 3.5rem;
}
.principal h{
    font-size: 2.75rem;
}

/*Botón*/
.contactame{
    color: white;
    border-color: white;
    cursor: pointer;
    font-weight: 300;
    margin-top: 4rem!important;
}
.contactame:hover{
    background-color: #ffffff3d;
    border-color: #e6e6e6;
}
.contactame:active {
    background-color: #ffffff6c;
    border-color: #e6e6e6;
    box-shadow: none;
}
.contactame:active, 
.contactame:focus, 
.contactame:active:focus{
    box-shadow: none;
}
/*Fin Botón*/

/* SUBRAYADO TITULOS */
.titulo::before{
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    /*background: #b8b7bf;*/
    background: #0e1c29;
    bottom: -12px;

}
/*.titulo::after{
    content: "";
    position: absolute;
    display: block;
    height: 3.5px;
    width: 70%;
    background: #0e1c29;
    left: calc(50% - 70%/2);
    bottom: -13px;
}*/

/* DISEÑO CARDS */
.row{
    margin-bottom: 1.5rem;
}
.card-content{
    background: white;
    padding: 1.5rem;
    position: relative;
    border-left: 3px solid #0e1c29;
    margin-top: 3rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}
.card-content p{

    line-height: 1.6;
}
.card-content p:last-child{

    margin: 0;
}
.card-content p span:first-of-type{
    font-size: 2.5rem;
    line-height: 55%;
}
.card-content img:first-of-type{
    height: 320px;
    width: 270px;
    float: left;
    border:1px solid black;
    border-radius: 4%;
    margin-right: 20px;
}
/* CIRCULO CARD */

/*.card-content::before{
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0e1c29;
}*/

.titulo{
    position: relative;
    text-align: center;
}
p{
    line-height: 1.3;
}


/* FOOTER */

footer{
    background: #222;
    padding: 2rem;
    color: white;
    font-size: 0.75rem;
}
footer section{
    float: right;
}
footer a{
    transition: color 0.3s ease;
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: cornflowerblue;
}
footer p{
    margin: 0;
}
/*MEDIA QUERIES*/
@media(max-width: 576px){
    .card-content>img:first-of-type{
        height: 400px;
        width: 100%;
        margin-bottom: 25px;
    }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    /*.bg-img{
        height: 380px;
    }*/
    
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /*.bg-img{
        height: 460px;
    }*/
    .card-content>img:first-of-type{
        height: 320px;
        width: 270px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    
    
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /*.bg-img{
        height: 580px;
    }*/
    
}
