html{
    font-family: Exo, serif;
}
body{
    overflow-x: hidden;
    max-width: 100vw;
    background: #f2f2f2;
    font-family: Exo, serif;
}

/* CABECERA */
.bg-img{
    background-image: url("../img/p3.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.mask2{
    background: rgba(0, 0, 0, 0.45);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.principal{
    display: block;
}
.principal h1{
    font-size: 2.5rem;
}
.principal h3{
    font-size: 1.75rem;
}

/*Botón*/
.contactame{
    color: white;
    border-color: white;
    cursor: pointer;
    font-weight: 300;
    margin-top: 4rem!important;
}
.contactame:hover{
    background-color: #ffffff3d;
    border-color: #e6e6e6;
}
.contactame:active {
    background-color: #ffffff6c;
    border-color: #e6e6e6;
    box-shadow: none;
}
.contactame:active, 
.contactame:focus, 
.contactame:active:focus{
    box-shadow: none;
}
/*Fin Botón*/

/* SUBRAYADO TITULOS */
.seccion_titulo::before{
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    background: #707070;
    /*background: #0e1c29;*/
    bottom: -12px;

}
/*.titulo::after{
    content: "";
    position: absolute;
    display: block;
    height: 3.5px;
    width: 70%;
    background: #0e1c29;
    left: calc(50% - 70%/2);
    bottom: -13px;
}*/

/*******************************/
/****** DISEÑOS GENÉRICOS ******/ 
/*******************************/


.row{
    margin-bottom: 1.5rem;
}
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.seccion_titulo{
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
}
.H_mayus{ /*N mayuscula presentación*/
    font-size: 2.5rem;
    line-height: 55%;
}
/* DISEÑO CARDS */

.carta{
    background: white;
    padding: 1.75rem;
    position: relative;
    margin-top: 3rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}
.carta_sobremi2{
    display: flex;
    align-items: stretch;
    background: white;
    padding: 1.75rem;
    margin-top: 3rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}
.carta_title{
    border-bottom: solid 1px black;
}
.carta_text{

    line-height: 1.6;
}
.carta_sobremi > .carta_text:last-child{

    margin: 0;
}
.carta_img{
    display: block;
    position: relative;
    float: left;
    width: 20%;
    
    margin: 0 20px 0 0;

}
.carta_content{
    display: block;
    float: right;
    width: 80%;
    height: 100%;
    position: relative;
    line-height: 1.6;
}
.foto1{
    display: flex;
    height: 100%;
    width: 100%;
    outline:1px solid black;
    border-radius: 4%;
}
.foto{
    display: block;
    height: 310px;
    width: 270px;
    float: left;
    outline:1px solid black;
    border-radius: 4%;
    margin: 0 20px 20px 0; /* margin: top right bottom left */
}
.carta-curso h4{
    border-bottom: 1px solid black;
    font-weight: 700;
    font-size: 1.25rem;
}
.carta-curso p{
    font-size: 1rem;
}

/***********************/
/****** SECCIONES ******/ 
/***********************/

/** SOBRE MÍ **/ 
/** EXPERERIENCIA PROFESIONAL **/ 
/** CURSOS **/


/** FORMACIÓN ACADÉMICA **/ 
/** CONOCIMIENTOS DE SOLDADURA **/ 
/** PROYECTO IG **/ 



.carta-curso h4{
    border-bottom: 1px solid black;
    font-weight: 700;
    font-size: 1.25rem;
}

/* LISTA CURSOS */
.cursos {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

}

.cursos li:nth-child(odd){
    background: #f5f5f5;
}
.curso{
    padding: 1rem;
}
/* CIRCULO CARD */

/*.carta::before{
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0e1c29;
}*/

/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    padding: 1rem;
    height: 4rem;
}
.footer_text p{
    color: white;
    font-size: 1rem;
    margin: 0;
}
footer ul{
    margin: 0;
}
.iconos_social li{
    float: right;
    list-style: none;
    margin-left: 10px;
}
.iconos_social a{
    color: white;
    vertical-align: -webkit-baseline-middle;
}
.iconos_social a svg{
    transition: color 0.3s ease;
    text-decoration: none;
    height: 20px;
    width: 20px;
    
}


/*MEDIA QUERIES*/
@media(max-width: 576px){
    .foto{
        height: 400px;
        width: 100%;
        margin-bottom: 25px;
    }
    footer{
        padding: 0 1rem;
    }
    .footer_text p{
        font-size: 0.75rem;
    }
    
    .iconos_social a svg{
        height: 16px;
        width: 16px;
    }
    .iconos_social li{
        margin-left: 16px;
    }
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .iconos_social a svg{
        height: 20px;
        width: 20px;
    }
    
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .iconos_social a:hover{
        color: cornflowerblue;
    }
    
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    /*.bg-img{
        height: 580px;
    }*/
    
}
